.Navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-top: 500px;
    margin-left: 175px;

  }
  .logo {
      margin-left: 1rem;
      color: white;
      font-size: 50px;
      font-weight: bolder;
  }
  .ul {
      display: flex;
      margin: 25px;
    
  }
  li {
      margin: 0 1rem;
  }
  a {
      text-decoration: none;
      color: white;
      font-weight: bolder;
  }
  #content {
    position: sticky;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  #header {
    position: sticky;
  }