#content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  margin-left: 100px;
}
#myVideo {
  border-radius: 25px;
  position: fixed;
  object-fit: cover;
  padding-top: 75px;
  right: 0;
  bottom: 20;
  width: 90%;
  height: 90%;
  margin-right: 70px;
  box-shadow: 10px 10px orange;
  
}
.Navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin-left: 175px;

}
.logo {
    margin-left: 185px;
    color: white;
    font-size: 50px;
    font-weight: bolder;
    padding-top: 500px;
    position: sticky;
    
}
.li {
    display: flex;
    margin: 25px;
    margin-left: 175px;
    list-style-type: none;
  
}
li {
    margin: 0 1rem;
    list-style-type: none;
}
a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
#content {
  position: sticky;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;


}
img {
  position: sticky;
  width: 400px;
  height: 200px;
  border-radius: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
#header {
  position: sticky;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body {
  background-color: bisque;
}